/* Anchor extension, https://github.com/pftnhr/yellow-anchor */

.anchor-link {
    display: inline-block;
    margin-left: 0.7em;
    font-size: 0.7em;
    opacity: 0.5
}
.anchor-link:hover {
    opacity: 1;
}
.anchor-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentcolor;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: center center;
}
.anchor-icon-default {
    -webkit-mask: url("anchor-stack.svg#default");
    mask: url("anchor-stack.svg#default");
}
