/* Headinglink extension, https://github.com/pftnhr/yellow-headinglink */

.content h1:hover .headinglink,
.content h2:hover .headinglink,
.content h3:hover .headinglink,
.content h4:hover .headinglink,
.content h5:hover .headinglink,
.content h6:hover .headinglink {
  display: inline-flex;
  margin-inline-start: 0.5em;
  font-weight: 500;
  user-select: none;
}
